.container {
  margin-top: 100px;
  width: 90%;
  padding: 0px 20px 20px 20px;
  margin: auto;
  margin-top: 125px;
}

header{
  /*padding:10px 5px 0;*/
  background-color: black;
  height:65px;
  position:fixed;
  top:0px; 
  width:100%;
}

.app_name {
  font-size: 50px;
  color: white;
  text-decoration: none;
  padding-left: 7px;
}

header ul {
  display: inline-block;
  float: right;
  margin-right: 30px;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 23px;
}

header li {
  display: inline-block;
}

header > ul > li > a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.page_container {
  width: 600px;
  padding: 20px;
  border: 1px solid black;
  margin: auto;
  margin-top: 150px;
  
}

.container > h1 {
  text-align: center;
}

.survey_list {
  margin: auto;
  padding-left: 0px;
}

.container > ul > li {
	list-style-type: none;
	text-align: center;
}

.main_links {
  color: black;
  text-decoration: none;
}

h1 {
  margin-top: 0px;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: black;
  width: 100%;
  text-align: center;
}

footer p {
  margin:5px 0 5px;
  text-align: center;
}

footer > p > a {
  text-decoration: none;
  color: white;
}

.spinner {
  width: 100px;
  margin-left: auto;
  margin-right: auto;

}

#spinner {
  display: block;
  /*text-align:center;*/
  /*margin: auto;*/
}
