html,
body {
  height: 100%;
}

body {
  background: #141414; 
  font-size: 0.5em;
}

.acme{
  background:rgba(200, 200, 200, 1);
  border-radius:100%;
  box-shadow:
  0 -0.1em 0 0 rgba(200, 200, 200, 1),
  0 -0.2em 0 0 rgba(200, 200, 200, 1),
  0 -0.3em 0 0 rgba(200, 200, 200, 1),
  0 -0.4em 0 0 rgba(200, 200, 200, 1),
  0 -0.5em 0 0 rgba(200, 200, 200, 1),
  0 -0.6em 0 0 rgba(200, 200, 200, 1),
  0 -0.7em 0 0 rgba(200, 200, 200, 1),
  0 -0.8em 0 0 rgba(200, 200, 200, 1),
  0 -0.9em 0 0 rgba(200, 200, 200, 1),
  0 -1em 0 0 rgba(200, 200, 200, 1),
  0 -1.1em 0 0 rgba(200, 200, 200, 1),
  0 -1.2em 0 0 rgba(200, 200, 200, 1),
  0 -1.3em 0 0 rgba(200, 200, 200, 1),
  0 -1.4em 0 0 rgba(200, 200, 200, 1),
  0 -1.5em 0 0 rgba(200, 200, 200, 1),
  0 -1.6em 0 0 rgba(200, 200, 200, 1),
  0 -1.7em 0 0 rgba(200, 200, 200, 1),
  0 -1.8em 0 0 rgba(100, 100, 100, 1),

  0 0.2em 0 0.8em rgba(0, 0, 0, 0.4),
  0 0.2em 0 1em rgba(255, 0, 0, 1),
  0 0.4em 0 1em rgba(255, 0, 0, 1),
  0 0.4em 0 1em rgba(255, 0, 0, 1),
  0 0.6em 0 1em rgba(255, 0, 0, 1),
  0 0.6em 0 1em rgba(255, 0, 0, 1),
  0 0.8em 0 1em rgba(255, 0, 0, 1),
  0 0.8em 0 1em rgba(255, 0, 0, 1),
  0 1em 0 1em rgba(255, 0, 0, 1),
  0 1em 0 1em rgba(255, 0, 0, 1),
  0 1.2em 0 1em rgba(255, 0, 0, 1),
  0 1.2em 0 1em rgba(255, 0, 0, 1),
  0 1.4em 0 1em rgba(255, 0, 0, 1),
  0 1.4em 0 1em rgba(255, 0, 0, 1),
  0 1.6em 0 1em rgba(255, 0, 0, 1),
  0 1.6em 0 1em rgba(255, 0, 0, 1),
  0 1.8em 0 1em rgba(255, 0, 0, 1),
  0 1.8em 0 1em rgba(255, 0, 0, 1),
  0 2em 0 1em rgba(255, 0, 0, 1),
  0 2em 0 1em rgba(255, 0, 0, 1),
  0 2.2em 0 1em rgba(255, 0, 0, 1),
  0 2.2em 0 1em rgba(255, 0, 0, 1),
  0 2.4em 0 1em rgba(255, 0, 0, 1),
  0 2.4em 0 1em rgba(255, 0, 0, 1);

  width: 0.6em; 
  height: 0.3em;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform-origin: 8em 1.5em;
  animation: acme 4s ease-in infinite;
}

@keyframes acme {
    0%, 45%{
    box-shadow:
    0 -0.1em 0 0 rgba(200, 200, 200, 1),
    0 -0.2em 0 0 rgba(200, 200, 200, 1),
    0 -0.3em 0 0 rgba(200, 200, 200, 1),
    0 -0.4em 0 0 rgba(200, 200, 200, 1),
    0 -0.5em 0 0 rgba(200, 200, 200, 1),
    0 -0.6em 0 0 rgba(200, 200, 200, 1),
    0 -0.7em 0 0 rgba(200, 200, 200, 1),
    0 -0.8em 0 0 rgba(200, 200, 200, 1),
    0 -0.9em 0 0 rgba(200, 200, 200, 1),
    0 -1em 0 0 rgba(200, 200, 200, 1),
    0 -1.1em 0 0 rgba(200, 200, 200, 1),
    0 -1.2em 0 0 rgba(200, 200, 200, 1),
    0 -1.3em 0 0 rgba(200, 200, 200, 1),
    0 -1.4em 0 0 rgba(200, 200, 200, 1),
    0 -1.5em 0 0 rgba(200, 200, 200, 1),
    0 -1.6em 0 0 rgba(200, 200, 200, 1),
    0 -1.7em 0 0 rgba(200, 200, 200, 1),
    0 -1.8em 0 0 rgba(100, 100, 100, 1),

    0 0.2em 0 0.8em rgba(0, 0, 0, 0.4),
    0 0.2em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1);    
  }

  50% {
    box-shadow:
    0 -0.1em 0 0 rgba(200, 200, 200, 1),
    0 -0.2em 0 0 rgba(200, 200, 200, 1),
    0 -0.3em 0 0 rgba(200, 200, 200, 1),
    0 -0.4em 0 0 rgba(200, 200, 200, 1),
    0 -0.5em 0 0 rgba(200, 200, 200, 1),
    0 -0.6em 0 0 rgba(200, 200, 200, 1),
    0 -0.7em 0 0 rgba(200, 200, 200, 1),
    0 -0.8em 0 0 rgba(200, 200, 200, 1),
    0 -0.9em 0 0 rgba(200, 200, 200, 1),
    0 -1em 0 0 rgba(200, 200, 200, 1),
    0 -1.1em 0 0 rgba(200, 200, 200, 1),
    0 -1.2em 0 0 rgba(200, 200, 200, 1),
    0 -1.3em 0 0 rgba(200, 200, 200, 1),
    0 -1.4em 0 0 rgba(200, 200, 200, 1),
    -4em -3.5em 1em 0 rgba(200, 200, 0, 0),
    2em -2.6em 1em 0 rgba(200, 200, 0, 0),
    -3em -2.7em 1em 0 rgba(200, 200, 0, 0),
    5em -2.8em 1em 0 rgba(100, 100, 0, 0),

    0 0.2em 0 0.8em rgba(0, 0, 0, 0.4),
    0 0.2em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1);    
  }

  55% {
    box-shadow:
    0 -0.1em 0 0 rgba(200, 200, 200, 1),
    0 -0.2em 0 0 rgba(200, 200, 200, 1),
    0 -0.3em 0 0 rgba(200, 200, 200, 1),
    0 -0.4em 0 0 rgba(200, 200, 200, 1),
    0 -0.5em 0 0 rgba(200, 200, 200, 1),
    0 -0.6em 0 0 rgba(200, 200, 200, 1),
    0 -0.7em 0 0 rgba(200, 200, 200, 1),
    0 -0.8em 0 0 rgba(200, 200, 200, 1),
    0 -0.9em 0 0 rgba(200, 200, 200, 1),
    0 -1em 0 0 rgba(200, 200, 200, 1),
    -4em -3.1em 1em 0 rgba(200, 0, 0, 0),
    5em -2.2em 1em 0 rgba(200, 0, 0, 0),
    -2em -3.3em 1em 0 rgba(200, 0, 0, 0),
    3em -2.4em 1em 0 rgba(200, 0, 0, 0),
    -4em -3.5em 1em 0 rgba(200, 0, 0, 0),
    2em -2.6em 1em 0 rgba(200, 0, 0, 0),
    -3em -2.7em 1em 0 rgba(200, 0, 0, 0),
    5em -2.8em 1em 0 rgba(100, 0, 0, 0),

    0 0.2em 0 0.8em rgba(0, 0, 0, 0.4),
    0 0.2em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1);    
  }

  60% {
    box-shadow:
    0 -0.1em 0 0 rgba(200, 200, 200, 1),
    0 -0.2em 0 0 rgba(200, 200, 200, 1),
    0 -0.3em 0 0 rgba(200, 200, 200, 1),
    0 -0.4em 0 0 rgba(200, 200, 200, 1),
    0 -0.5em 0 0 rgba(200, 200, 200, 1),
    0 -0.6em 0 0 rgba(200, 200, 200, 1),
    -7em -2.7em 0.1em 0 rgba(200, 200, 200, 0),
    6em -3.8em 0.1em 0 rgba(200, 200, 200, 0),
    -4em -4.9em 0.1em 0 rgba(200, 200, 200, 0),
    2em -2em 0.1em 0 rgba(200, 200, 200, 0),
    -4em -3.1em 0.1em 0 rgba(200, 0, 0, 0),
    5em -2.2em 0.1em 0 rgba(200, 0, 0, 0),
    -2em -3.3em 0.1em 0 rgba(200, 0, 0, 0),
    3em -2.4em 0.1em 0 rgba(200, 0, 200, 0),
    -4em -3.5em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2.6em 0.1em 0 rgba(200, 0, 0, 0),
    -3em -2.7em 0.1em 0 rgba(200, 0, 0, 0),
    5em -2.8em 0.1em 0 rgba(100, 0, 0, 0),

    0 0.2em 0 0.8em rgba(0, 0, 0, 0.4),
    0 0.2em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1);    
  }

  65% {
    box-shadow:
    0 -0.1em 0 0 rgba(200, 200, 200, 1),
    0 -0.2em 0 0 rgba(200, 200, 200, 1),
    0 -0.3em 0 0 rgba(200, 200, 200, 1),
    2em -2.4em 1em 0 rgba(200, 200, 0, 0),
    -3em -1.5em 1em 0 rgba(200, 200, 0, 0),
    2em -3.6em 1em 0 rgba(200, 200, 0, 0),
    -7em -2.7em 1em 0 rgba(200, 0, 0, 0),
    6em -3.8em 1em 0 rgba(200, 0, 0, 0),
    -4em -4.9em 1em 0 rgba(200, 0, 0, 0),
    2em -2em 1em 0 rgba(200, 0, 0, 0),
    -4em -3.1em 1em 0 rgba(200, 0, 0, 0),
    5em -2.2em 1em 0 rgba(200, 0, 0, 0),
    -2em -3.3em 1em 0 rgba(200, 0, 0, 0),
    3em -2.4em 1em 0 rgba(200, 0, 200, 0),
    -4em -3.5em 1em 0 rgba(200, 0, 0, 0),
    2em -2.6em 1em 0 rgba(200, 0, 0, 0),
    -3em -2.7em 1em 0 rgba(200, 0, 0, 0),
    5em -2.8em 1em 0 rgba(100, 0, 0, 0),

    0 0.2em 0 0.8em rgba(0, 0, 0, 0.4),
    0 0.2em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1);    
  }

  70% {
    transform: rotateZ(0deg);
    box-shadow:
    -2em -2.1em 0.1em 0 rgba(200, 0, 0, 0),
    5em -1.2em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -2.3em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2.4em 0.1em 0 rgba(200, 0, 0, 0),
    -3em -1.5em 0.1em 0 rgba(200, 0, 0, 0),
    2em -3.6em 0.1em 0 rgba(200, 0, 0, 0),
    -7em -2.7em 0.1em 0 rgba(200, 0, 0, 0),
    6em -3.8em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -4.9em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -3.1em 0.1em 0 rgba(200, 0, 0, 0),
    5em -2.2em 0.1em 0 rgba(200, 0, 0, 0),
    -2em -3.3em 0.1em 0 rgba(200, 0, 0, 0),
    3em -2.4em 0.1em 0 rgba(200, 0, 200, 0),
    -4em -3.5em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2.6em 0.1em 0 rgba(200, 0, 0, 0),
    -3em -2.7em 0.1em 0 rgba(200, 0, 0, 0),
    5em -2.8em 0.1em 0 rgba(100, 0, 0, 0),

    0 0.2em 0 0.8em rgba(0, 0, 0, 0.4),
    0 0.2em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1);    
  }

  71%, 74%, 78% {
    transform: rotateZ(5deg);
    box-shadow:
    -2em -2.1em 0.1em 0 rgba(200, 0, 0, 0),
    5em -1.2em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -2.3em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2.4em 0.1em 0 rgba(200, 0, 0, 0),
    -3em -1.5em 0.1em 0 rgba(200, 0, 0, 0),
    2em -3.6em 0.1em 0 rgba(200, 0, 0, 0),
    -7em -2.7em 0.1em 0 rgba(200, 0, 0, 0),
    6em -3.8em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -4.9em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -3.1em 0.1em 0 rgba(200, 0, 0, 0),
    5em -2.2em 0.1em 0 rgba(200, 0, 0, 0),
    -2em -3.3em 0.1em 0 rgba(200, 0, 0, 0),
    3em -2.4em 0.1em 0 rgba(200, 0, 200, 0),
    -4em -3.5em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2.6em 0.1em 0 rgba(200, 0, 0, 0),
    -3em -2.7em 0.1em 0 rgba(200, 0, 0, 0),
    5em -2.8em 0.1em 0 rgba(100, 0, 0, 0),

    0 0.2em 0 0.8em rgba(0, 0, 0, 0.4),
    0 0.2em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1);    
  }

  73%, 76% {
    background:rgba(200, 200, 200, 1);
    transform: rotateZ(-5deg);
    box-shadow:
    -2em -2.1em 0.1em 0 rgba(200, 0, 0, 0),
    5em -1.2em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -2.3em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2.4em 0.1em 0 rgba(200, 0, 0, 0),
    -3em -1.5em 0.1em 0 rgba(200, 0, 0, 0),
    2em -3.6em 0.1em 0 rgba(200, 0, 0, 0),
    -7em -2.7em 0.1em 0 rgba(200, 0, 0, 0),
    6em -3.8em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -4.9em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -3.1em 0.1em 0 rgba(200, 0, 0, 0),
    5em -2.2em 0.1em 0 rgba(200, 0, 0, 0),
    -2em -3.3em 0.1em 0 rgba(200, 0, 0, 0),
    3em -2.4em 0.1em 0 rgba(200, 0, 200, 0),
    -4em -3.5em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2.6em 0.1em 0 rgba(200, 0, 0, 0),
    -3em -2.7em 0.1em 0 rgba(200, 0, 0, 0),
    5em -2.8em 0.1em 0 rgba(100, 0, 0, 0),

    0 0.2em 0 0.8em rgba(0, 0, 0, 0.4),
    0 0.2em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.4em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.6em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 0.8em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.2em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.4em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.6em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 1.8em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.2em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1),
    0 2.4em 0 1em rgba(255, 0, 0, 1);    
  }

  80%, 95% {
    background:rgba(200, 200, 200, 0);
    transform: rotateZ(0deg);
    box-shadow:
    -2em -2.1em 0.1em 0 rgba(200, 0, 0, 0),
    5em -1.2em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -2.3em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2.4em 0.1em 0 rgba(200, 0, 0, 0),
    -3em -1.5em 0.1em 0 rgba(200, 0, 0, 0),
    2em -3.6em 0.1em 0 rgba(200, 0, 0, 0),
    -7em -2.7em 0.1em 0 rgba(200, 0, 0, 0),
    6em -3.8em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -4.9em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -3.1em 0.1em 0 rgba(200, 0, 0, 0),
    5em -2.2em 0.1em 0 rgba(200, 0, 0, 0),
    -2em -3.3em 0.1em 0 rgba(200, 0, 0, 0),
    3em -2.4em 0.1em 0 rgba(200, 0, 200, 0),
    -4em -3.5em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2.6em 0.1em 0 rgba(200, 0, 0, 0),
    -3em -2.7em 0.1em 0 rgba(200, 0, 0, 0),
    5em -2.8em 0.1em 0 rgba(100, 0, 0, 0),

    15em -2.2em 10em 0.8em rgba(0, 0, 0, 0),
    -20em -4.2em 10em 1em rgba(255, 255, 0, 0),
    12em 4em 10em 1em rgba(255, 0, 255, 0),
    -18em -4em 10em 1em rgba(255, 0, 0, 0),
    25em -6em 10em 1em rgba(255, 0, 0, 0),
    -30em 6em 10em 1em rgba(255, 255, 0, 0),
    16em -8em 10em 1em rgba(255, 255, 0, 0),
    -22em 12em 10em 1em rgba(255, 255, 0, 0),
    26em -18em 10em 1em rgba(255, 255, 0, 0),
    -17em 19em 10em 1em rgba(255, 0, 0, 0),
    21em -32em 10em 1em rgba(255, 0, 0, 0),
    -29em -42em 10em 1em rgba(255, 255, 0, 0),
    31em 14em 10em 1em rgba(255, 0, 0, 0),
    -28em -14em 10em 1em rgba(255, 0, 0, 0),
    33em 36em 10em 1em rgba(255, 255, 0, 0),
    42em -16em 10em 1em rgba(255, 255, 0, 0),
    -45em 18em 10em 1em rgba(255, 255, 0, 0),
    35em -38em 10em 1em rgba(255, 0, 0, 0),
    -28em 20em 10em 1em rgba(255, 0, 0, 0),
    42em -20em 10em 1em rgba(255, 255, 0, 0),
    -38em 32em 10em 1em rgba(255, 0, 0, 0),
    26em -22em 10em 1em rgba(255, 255, 0, 0),
    -25em 24em 10em 1em rgba(255, 255, 0, 0),
    45em -44em 10em 1em rgba(255, 255, 0, 0);    
  }
  
  100% {
    background:rgba(200, 200, 200, 0);
    box-shadow:
    -2em -2.1em 0.1em 0 rgba(200, 0, 0, 0),
    5em -1.2em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -2.3em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2.4em 0.1em 0 rgba(200, 0, 0, 0),
    -3em -1.5em 0.1em 0 rgba(200, 0, 0, 0),
    2em -3.6em 0.1em 0 rgba(200, 0, 0, 0),
    -7em -2.7em 0.1em 0 rgba(200, 0, 0, 0),
    6em -3.8em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -4.9em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2em 0.1em 0 rgba(200, 0, 0, 0),
    -4em -3.1em 0.1em 0 rgba(200, 0, 0, 0),
    5em -2.2em 0.1em 0 rgba(200, 0, 0, 0),
    -2em -3.3em 0.1em 0 rgba(200, 0, 0, 0),
    3em -2.4em 0.1em 0 rgba(200, 0, 200, 0),
    -4em -3.5em 0.1em 0 rgba(200, 0, 0, 0),
    2em -2.6em 0.1em 0 rgba(200, 0, 0, 0),
    -3em -2.7em 0.1em 0 rgba(200, 0, 0, 0),
    5em -2.8em 0.1em 0 rgba(100, 0, 0, 0),

    15em -2.2em 10em 0.8em rgba(0, 0, 0, 0),
    -20em -4.2em 10em 1em rgba(255, 255, 0, 0),
    12em 4em 10em 1em rgba(255, 0, 255, 0),
    -18em -4em 10em 1em rgba(255, 0, 0, 0),
    25em -6em 10em 1em rgba(255, 0, 0, 0),
    -30em 6em 10em 1em rgba(255, 255, 0, 0),
    16em -8em 10em 1em rgba(255, 255, 0, 0),
    -22em 12em 10em 1em rgba(255, 255, 0, 0),
    26em -18em 10em 1em rgba(255, 255, 0, 0),
    -17em 19em 10em 1em rgba(255, 0, 0, 0),
    21em -32em 10em 1em rgba(255, 0, 0, 0),
    -29em -42em 10em 1em rgba(255, 255, 0, 0),
    31em 14em 10em 1em rgba(255, 0, 0, 0),
    -28em -14em 10em 1em rgba(255, 0, 0, 0),
    33em 36em 10em 1em rgba(255, 255, 0, 0),
    42em -16em 10em 1em rgba(255, 255, 0, 0),
    -45em 18em 10em 1em rgba(255, 255, 0, 0),
    35em -38em 10em 1em rgba(255, 0, 0, 0),
    -28em 20em 10em 1em rgba(255, 0, 0, 0),
    42em -20em 10em 1em rgba(255, 255, 0, 0),
    -38em 32em 10em 1em rgba(255, 0, 0, 0),
    26em -22em 10em 1em rgba(255, 255, 0, 0),
    -25em 24em 10em 1em rgba(255, 255, 0, 0),
    45em -44em 10em 1em rgba(255, 255, 0, 0);    
  }

}
