
<form action"#" method="POST">
  <label>Twitter handle  <input id="username" type="text" name="username"></label>
  <input id="button" type="submit" value="Get Tweets!">
</form>
<div class="spinner">
<img src="../ajax-loader.gif" id="spinner"></img>
</div>
